body{/*Cuerpo de la pagina web*/
    background: #000000; 
    color: #fff;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;   
}
/*Fondo de main*/
main{
    margin-top: 50px;
    /*background: url("./netflix.jpg") radial-gradient(#000000);*/
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("./netflix.jpg") no-repeat fixed ;
    height: 500px;    
    width: 100%;
}
.head{
    padding-top: 25px;
   /* text-align: center;*/
}
.Logo{
    width: 200px;
    margin-left: 40%;
}
.signin{
    background: #e50914;
    color: #fff;
    border:none;
    padding: 7px 17px;
    font-size: 16px;
    font-weight: lighter;
    border-radius: 3px;
    margin-left: 20%;
    margin-bottom: 15px;
}
.content {
    margin-top: 30px;
    text-align: center;
    margin-top: 60px;
}
.title{
    font-size: 80px;
    margin: 0px 0px;
}
.subtitle{
   font-size:  30px;
}
.tryit{
    background: #e50914;
    padding: 30px 45px 30px 60px;
    font-size: 30px;
    border: none;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.9px;
    font-weight: lighter;
}
.tryit spam {
    margin-left: 15px;
}
